/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin-top: 4em;
}

@media screen and (max-width: 2000px ) {
	html {
		 font-size: 16px;
	}
}

@media screen and (max-width: 1000px) {
	html {
		font-size: 14px;
	}
}

/* Nav.jsx */
.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgb(127,127,127);
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	display: flex;
	justify-content: center;
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 1em;
}

.nav-content {
	width: 100%;
	max-width: 100rem;
}

.nav-left {
}

.nav-left ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 1.5em 0;
}

.nav-left li {
	margin: 0 1em;
	font-size: 1.5rem;
	font-weight: bold;
}

.nav-left a {
	color: black;
	text-decoration: none;
	border: 1px solid transparent;
	padding: .3em .5em;
}

.nav-left a:hover {
	border: 1px solid white;
}

.nav-center h1 {
	color: rgb(112,10,48);
	background-color: rgba(127,127,127,.5);
	font-size: 2rem;
	font-weight: bold;
}

.nav-right {
	padding-right: 2em;
}

.nav-right a {
	color: rgb(5,71,42);
}

.nav-right a:hover {
	color: #470e05;
}

/* Footer */

.footer {
  padding: 1rem 0.5rem 0.5rem;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
  bottom: 0px;
  left: 0;
  right: 0;
	background-color: rgb(127,127,127);
}


/* Home */
.home-container {
	display: flex;
	justify-content: center;
	padding: 5em 0;
}

.home-content {
	width: 100%;
	max-width: 80rem;
}
.home-image img {
	width: 100%;
	height: auto;
}

.home-banner {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(205,205,205);
	padding: 1em 0;
	margin: 1em 0;
}

.home-banner h2 {
	font-size: 2rem;
}

.new-items {
	margin-bottom: 100px;
	display: flex;
	justify-content: center;
}

/* About */
.about {
	display: flex;
	justify-content: center;
	padding: 8em 0;
}
.about-container {
	width: 100%;
	max-width: 62.5rem;
}
.stax-banner, .stax-animation {
	display: flex;
	justify-content: center;
	margin-bottom: 2em;
}

.stax-banner img {
	width: 100vw;
}

.history, .technology, .timeline {
	display: flex;
	justify-content: center;
}
.company-history, .electrostatic-info, .company-timeline {
	margin-top: 2em;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em 2.5em;
	background-color: rgb(242,238,203);
	border-radius: 15px;
}

.electrostatic-info {
	margin-bottom: 4em;
}

.company-history h2 , .electrostatic-info h2, .company-timeline h2 {
	font-size: 3rem;
	font-weight: bold;
}

.company-history p, .electrostatic-info p, .company-timeline p {
	text-indent: 1rem;
	margin-top: 1em;
	line-height: 2;
}

/* Store */
.store {
	display: flex;
	justify-content: center;
}

.store-container {
	width: 100%;
	max-width: 80rem;
	margin: 2.5em 0;
}
.products-grid {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, 18.75rem);
	gap: 5em;
	margin: 1em 0;
}

.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 25rem;
}

.product img {
	height: 12.5rem;
	width: auto;
	cursor: pointer;
}

.product h3 {
	font-size: 1.2rem;
	font-weight: bold;
	margin-top: .5em;
}

.product p {
	text-indent: 1rem;
	margin-top: .5em;
	line-height: 1.5;
	margin-bottom: 1em;
	font-style: italic;
}

.price-row {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%
}

.item-quantity input {
	width: 2.5rem;
}

.addcart-button {
	margin-top: 1em;
}

.addcart-button button {
	font-weight: bold;
	padding: .3em .5em;
	cursor: pointer;
	border: 1px solid rgb(127,127,127);
	border-radius: 4px;
}

.addcart-button button:hover {
	border: 1px solid red;
	border-radius: 4px;
}

.image-modal {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
}

.modal-content {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	background-color: white;
	border-radius: 15px;
	padding: .5em 1em;
}

.modal-content img {
	width: 100%;
	max-width: 30rem;
	height: auto;
}

.close-button {
	display: flex;
	justify-content: flex-end;
}

.close-button button {
	background: none;
	border: none;
	font-weight: bold;
	font-size: 1.5rem;
	cursor: pointer;
}

/* Banner */
.banner {
	position:fixed;
	top: 4.5rem;
	left: 0;
	right: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: red;
	height: 2rem;
	font-weight: bold;
}

/* Shopping Cart */
.shopping-cart {
	display: flex;
	justify-content: center; 
	padding: 5em 0;
}
.item-list {
	margin-top: 1.25em;
}

.title {
	display: flex;
	justify-content: center;
	margin-bottom: 1.25em;
}

.title h2 {
	font-size: 3rem;
	font-weight:bold
}

.item {
	display: flex;
	justify-content: space-between;
	background-color: rgb(242,238,203);
	box-shadow: 0 2px 5px rgb(0,0,0,0.3);
	margin-bottom: 2em;
	margin-top: 1em;
}

.item-left {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: .8em 1.2em;
}

.item-left div {
	font-size: 1.2rem;
	font-weight: bold;
	word-wrap: break-word;
	width: 100%;
	max-width: 12.5rem;
	display: flex;
	justify-content: center;
}

.item-left img {
	width: 10rem;
	height: 10rem;
	margin-top: 1em;
	border-radius: 50%
}

.item-right {
	padding: 1.2em 1.5em;
	bottom: 6.25rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.item-right button {
	background: none;
	border: none;
}

.item-right button:hover {
	color: #470e05;
}

.total-price {
	display: flex;
	justify-content: space-between;
	padding: .25em 1.2em;
	margin-bottom: 1em;
}

.total-price h4 {
	font-size: 1.5rem;
	font-weight: bold;
}

.total-price div {
	font-size: 1.3rem;
}

.submit {
	margin-bottom: 6.25em;
}

.submit-button {
	display: flex;
	justify-content: center;
}

.submit-button button {
	width: 100%;
	font-size: 2rem;
	padding: .5em 1.2em;
	box-shadow: 0 2px 5px rgba(0,0,0,0.8);
	border: 2px solid transparent;
	background-color: rgb(205,205,205);
	border-radius: 4px;
}

.submit-button button:hover {
	border: 2px solid rgb(5,71,42);
	border-radius: 4px;
}

/* Thank you page */

.checkout {
	padding: 3.5em 0;
}

.thank-you {
	margin-top: 1em;
	display: flex;
	justify-content: center;
}

.thank-you h2 {
	font-size: 3rem;
	font-weight: bold;
}

.outro-message {
	display: flex;
	justify-content: center;
	margin-top: .5em;
	margin-bottom: 1em;
}

.outro-message p {
		text-indent: 1rem;
		line-height: 1.5;
		width: 100%;
		max-width: 31.25rem;
		font-size: 2rem;
}

.links {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.links li {
	margin-bottom: 1em;
	list-style: inside;
}

.links a {
	text-decoration: none;
	font-size: 1.5rem;
}
