/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	padding-top: 64px;
}

/* Nav.jsx */

nav {
	 position: fixed;
    width: 100%;
    top: 0;
		z-index: 2;
}
.navbar {
	display: flex;
	justify-content: space-between;
	height: 64px;
	background-color: rgb(127,127,127);
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.nav-left {
	padding-left: 32px;
	width: 20%;
}

.nav-left ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.nav-left li {
	font-size: 1.5rem;
	font-weight: bold;
}

.nav-left a {
	color: black;
	text-decoration: none;
	padding: 5px 10px;
	border: 2px solid transparent;
}

.nav-left a:hover {
	border: 2px solid white;
	padding: 5px 10px;
}

.nav-center {
	display: flex;
	align-items: center;
	height: 100%;


}

.nav-center h1 {
	font-size: 2rem;
	font-weight: bold;
	border: 1px solid black;
	border-radius: 25px;
	padding: 8px 16px;
	color: rgb(112,10,48);
	background-color: rgba(127,127,127,.5);
}

.nav-right {
	display: flex;
	align-items: center;
	padding-right: 32px;
}

.nav-right a {
	color: rgb(5,71,42);
}

.nav-right a:hover {
	color: #470e05;
}

/* Footer */

.footer {
  padding: 1rem 0.5rem 0.5rem;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
  bottom: 0px;
  left: 0;
  right: 0;
	background-color: rgb(127,127,127);
}


/* Home */
.home-image img {
	width: 100%;
	height: auto;
}

.home-banner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 64px;
	background-color: rgb(205,205,205);
	margin-top: 16px;
	margin-bottom: 32px;
}

.home-banner h2 {
	font-size: 2rem;
}

.new-items {
	margin-bottom: 100px;
	display: flex;
	justify-content: center;
}

/* About */

.stax-banner, .stax-animation {
	margin-top: 32px;
	margin-bottom: 64px;
	display: flex;
	justify-content: center;
}

.history, .technology, .timeline {
	display: flex;
	justify-content: center;
}
.company-history, .electrostatic-info, .company-timeline {
	margin-top: 32px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	padding: 30px 40px;
	background-color: rgb(242,238,203);
	border-radius: 15px;
}

.electrostatic-info {
	margin-bottom: 64px;
}

.company-history h2 , .electrostatic-info h2, .company-timeline h2 {
	font-size: 3rem;
	font-weight: bold;
}

.company-history p, .electrostatic-info p, .company-timeline p {
	text-indent: 16px;
	margin-top: 16px;
	line-height: 2;
}

/* Store */

.products-grid {
	display: grid;
	justify-content: space-around;
	grid-template-columns: repeat(3, 300px);
	row-gap: 3em;
	margin-top: 16px;
	margin-bottom: 150px;
}

.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	max-width: 100%;
}

.product img {
	height: 200px;
	width: auto;
	cursor: pointer;
}

.product h3 {
	font-size: 1.2rem;
	font-weight: bold;
	margin-top: 8px;
}

.product p {
	text-indent: 16px;
	margin-top: 8px;
	line-height: 1.5;
	margin-bottom: 16px;
	font-style: italic;
}

.price-row {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%
}

.item-quantity input {
	width: 40px;
}

.addcart-button {
	margin-top: 16px;
}

.addcart-button button {
	font-weight: bold;
	padding: 5px 10px;
	cursor: pointer;
	border: 1px solid rgb(127,127,127);
	border-radius: 4px;
}

.addcart-button button:hover {
	border: 1px solid red;
	border-radius: 4px;
}

.image-modal {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
}

.modal-content {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	background-color: white;
	padding: 30px 40px;
	border-radius: 15px;
}

.modal-content img {
	height: 600px;
	max-height: 100%;
	width: auto;
}

.close-button {
	display: flex;
	justify-content: flex-end;
}

.close-button button {
	background: none;
	border: none;
	font-weight: bold;
	font-size: 1.5rem;
	cursor: pointer;
}

/* Banner */
.banner {
	position:fixed;
	top: 64px;
	left: 0;
	right: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: red;
	height: 30px;
	font-weight: bold;
}

/* Shopping Cart */
.item-list {
	margin-top: 25px;
}

.title {
	display: flex;
	justify-content: center;
	margin-bottom: 25px;
}

.title h2 {
	font-size: 3rem;
	font-weight:bold
}

.item {
	display: flex;
	justify-content: space-between;
	background-color: rgb(242,238,203);
	box-shadow: 0 2px 5px rgb(0,0,0,0.3);
	margin-bottom: 32px;
	margin-top: 16px
}

.item-left {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 20px;
}

.item-left div {
	font-size: 1.2rem;
	font-weight: bold;
	word-wrap: break-word;
	width: 200px;
	display: flex;
	justify-content: center;
}

.item-left img {
	height: 100px;
	width: 100px;
	margin-top: 16px;
	border-radius: 50%
}

.item-right {
	padding: 20px 30px;
	bottom: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.item-right button {
	background: none;
	border: none;
}

.item-right button:hover {
	color: #470e05;
}

.total-price {
	display: flex;
	justify-content: space-between;
	padding: 5px 30px;
	margin-bottom: 16px;
}

.total-price h4 {
	font-size: 1.5rem;
	font-weight: bold;
}

.total-price div {
	font-size: 1.3rem;
}

.submit {
	margin-bottom: 100px;
}

.submit-button {
	display: flex;
	justify-content: center;
}

.submit-button button {
	width: 90%;
	font-size: 2rem;
	padding: 10px 20px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.8);
	border: 2px solid transparent;
	background-color: rgb(205,205,205);
	border-radius: 4px;
}

.submit-button button:hover {
	border: 2px solid rgb(5,71,42);
	border-radius: 4px;
}

/* Thank you page */

.thank-you {
	margin-top: 16px;
	display: flex;
	justify-content: center;
}

.thank-you h2 {
	font-size: 3rem;
	font-weight: bold;
}

.outro-message {
	display: flex;
	justify-content: center;
	margin-top: 8px;
	margin-bottom: 16px;
}

.outro-message p {
		text-indent: 16px;
		line-height: 1.5;
		width: 500px;
		max-width: 80%;
		font-size: 2rem;
}

.links {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.links li {
	margin-bottom: 16px;
	list-style: inside;
}

.links a {
	text-decoration: none;
	font-size: 1.5rem;
}
